body {
    background-color: #000;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
}

.container {
    width: 50%;
    margin: 40px auto;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
}

img {
    width: 100%;
    border: 5px solid #fff;
    border-radius: 10px;
}